In [12]:
import pandas as pd

corona_df = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/06-19-2020.csv")

# corona_dfa_df.head(2)

by_country = corona_df.groupby('Country_Region').sum()[['Confirmed','Deaths','Recovered']]

cdf = by_country.nlargest(15,'Confirmed')[['Confirmed']]
# print(cdf)

                Confirmed
Country_Region
US                2222812
Brazil            1032913
Russia             568292
India              395048
United Kingdom     303285
Spain              245575
Peru               244388
Italy              238011
Chile              231393
Iran               200262
France             196083
Germany            190299
Turkey             185245
Pakistan           171666
Mexico             170485

In [15]:
import pandas as pd
def find_top_confirmed(n = 15):
    corona_df = pd.read_csv("https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/06-19-2020.csv")
    # corona_dfa_df.head(2)
    by_country = corona_df.groupby('Country_Region').sum()[['Confirmed','Deaths','Recovered']]
    cdf = by_country.nlargest(n,'Confirmed')[['Confirmed']]
    # print(cdf)
    return cdf

In [16]:
find_top_confirmed()

                Confirmed
Country_Region
US                2222812
Brazil            1032913
Russia             568292
India              395048
United Kingdom     303285
Spain              245575
Peru               244388
Italy              238011
Chile              231393
Iran               200262
France             196083
Germany            190299
Turkey             185245
Pakistan           171666
Mexico             170485